.hide {
	display: none;
}

.ticketDetails {
	display: none;
	padding: 10px;
	font-size: 18px;
}

.ticketDetails input {
	font-size: 18px;
	background-color: #FFF;
}

.successmsg,
.search-msg,
.errormsg {
	text-align: center;
	font-size: 26px;
	margin: 13px;
}

.successmsg,
.search-msg {
	background-color: #79ff70;
}

.errormsg {
	background-color: #DF4E59;
}

.presale {
	display: block;
	background-color: #79ff6a;
}

.crew {
	display: block;
	background-color: #74cfff;
}

.errorScanned,
.error {
	display: block;
	background-color: #DF4E59;
}

.ticketDetails.error .ticketField {
	display: none;
}

.ticketDetails.errorScanned .errormsg,
.ticketDetails.error .errormsg {
	display: block;
}

.btn-seach-result {
	min-height: 40px;
	line-height: 40px;
}

.btn-seach-result.ticket-scanned {
	background-color: #ff6b6b;
	background-image: none;
}

/* Jquery UI overrides */
.ui-field-contain, fieldset.ui-field-contain {
	padding: 0;
}

.fieldcontain input {
	min-width: 350px;
}

.buttons .ui-btn-inner {
	font-size: 34px;
}