.hide {
	display: none;
}

.btn-seach {
	display: none;
}

.ticketDetails {
	display: none;
	padding: 10px;
	font-size: 18px;
}

.ticketDetails input {
	font-size: 18px;
	background-color: #FFF;
}

.ticketDetails .errormsg {
	display: none;
	text-align: center;
	font-size: 26px;
	margin: 13px;
}

.ticketDetails.presale {
	display: block;
	background-color: #74cfff;
}

.ticketDetails.crew {
	display: block;
	background-color: #79ff6a;
}

.ticketDetails.errorScanned,
.ticketDetails.error {
	display: block;
	background-color: #DF4E59;
}

.ticketDetails.error .ticketField {
	display: none;
}

.ticketDetails.errorScanned .errormsg,
.ticketDetails.error .errormsg {
	display: block;
}

/* Jquery UI overrides */
.ui-field-contain, fieldset.ui-field-contain {
	padding: 0;
}

.fieldcontain input {
	min-width: 350px;
}

.ui-btn-inner {
	font-size: 34px;
}